<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="vue">
        
 <table border="1">
     <thead>
         <th>Name</th>
         <th>Game</th>
         <th>Country</th>
         <th>Language</th>
         <th>Bank Balance</th>
    
        </thead>
        <tbody>
            
        
        <td>
            <div  v-show = "item.edit == false"> 
            </div>
            <input v-model="message" placeholder="John Lennon" name="name" >          
        </td>
        <td>
            <div v-show = "item.edit == false">
               
            </div>
            <input v-model="message"  placeholder= "CS">
                                
        </td>
        <td>
            <div v-show = "item.edit == false">
               
 </div>
<input v-model="message" placeholder="UK">
        </td>
        <td>
<div v-show = "item.edit == false">  
 </div>
<input v-model="message"  placeholder= "English">
</td>
<td>   
 <div v-show = "item.edit == false">
</div>
<input v-model="message"  placeholder= "150000">                      
  </td>
<tr v-for="user in users" v-bind:key="user.id">
    <td><div v-show = "item.edit == false">
    </div>
    <input v-model="message"  placeholder= "Darth Vader"> 
 </td>
<td><div v-show = "item.edit == false">
</div>
<input v-model="message"  placeholder= "PUBG"> 
 </td>
 <td><div v-show = "item.edit == false">
 </div>
 <input v-model="message"  placeholder= "Mexico">
</td>
<td><div v-show = "item.edit == false">
</div>
<input v-model="message"  placeholder= "Spanish">
    
</td>
 <td><div v-show = "item.edit == false">
 </div><input v-model="message"  placeholder= "66666">                                
 </td>                                     


</tbody>

</table>

    
</body>
</html>